{% extends "base.html" %}
<h2>List of our games!</h2>
{% block list %}
  <div class="row">
 
  {% for game in object_list %}

  <!-- <div class="col s1">
    <img style="width: 90px; height:90px" src="{{game.image}}">
    <a href="{{ game.get_absoulte_url }}">{{ game.name }}</a>
  </div>     -->
  <div class="col s4">
  <div class="row">
    <div class="col s12 m7">
      <div class="card pulse small">
        <div class="card-image">
          <img src="{{game.image}}">
        </div>
        <div class="card-action">
          <a class="blue-text text-darken-2 card-link" href="{{ game.get_absoulte_url }}">{{ game.name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

  {% endfor %}

</div>

<form action="{% url 'shop:games-list' %}" method="post">
{% csrf_token %}
<div>
<label class="form-check-label" for="price">
  <input type='checkbox' name='sorting' value="price" id="price"></input>
  <span>By Price</span>
</label>
</div>
<div>
<label class="form-check-label" for="name">
  <input type='checkbox' name='sorting' value="name" id="name"></input>
  <span>By Name</span>
</label>
</div>
<div>
<label class="form-check-label" for="date">
  <input type='checkbox' name='sorting' value="created_at"  id="date"></input>
  <span>By Date</span>
</label>
</div>

<button type="submit"  class="btn waves-effect waves-light">Submit</button>
</form>

{% if is_paginated %}
  <ul class="pagination" style="list-style:none;display:flex;flex-direction:row;gap:7px;padding:0px">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li style="color:red" class="active"><span><span class="sr-only">({{i}})</span></span></li>
      {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
