{% extends "base.html" %}
<h2>List of our games!</h2>
{% block list %}
<ul>
  {% for game in object_list %}

  <li style="width:200px;display:grid;margin-bottom:5px">
    <img style="width: 90px; height:90px" src="{{game.image}}">
    <a href="{{ game.get_absoulte_url }}">{{ game.name }}</a>
    </li>
    
  {% endfor %}
</ul>
<form action="{% url 'shop:games-list' %}" method="post">
{% csrf_token %}
<input type='checkbox' name='sorting' value="price"></input>
<label class="form-check-label" for="price">By price</label>
<input type='checkbox' name='sorting' value="name"></input>
<label class="form-check-label" for="price">By name</label>
<input type='checkbox' name='sorting' value="created_at"></input>
<label class="form-check-label" for="price">By date</label>
<button type="submit">Submit</button>
</form>

{% if is_paginated %}
  <ul class="pagination" style="list-style:none;display:flex;flex-direction:row;gap:7px;padding:0px">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
